<h1>New Comment</h1>

<form action="/create_comment">
  <div>
    <label for="description">description</label><br />
    <input id="description" name="description" type="text" />
  </div>
  <div>
    <label for="teacher_id">teacher_id</label><br />
    <input id="teacher_id" name="teacher_id" type="text" />
  </div>
  <div>
    <label for="student_id">student_id</label><br />
    <input id="student_id" name="student_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

