<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h2>Welcome to EasyIEP!</h2>
        <img src="http://i.imgur.com/Ilt7Dck.jpg" alt="logo"> 
        <p> <small>Make working with students with IEP's a breeze! Manage accomodations and modifications, behavior planinng and tracking, IEP goals and collaborate with other teachers all on one easy to use page. </small> </p>
      </div>
      <div class="col-md-5">
        <div class="panel panel-default signin">
          <div class="panel-body">
            <form action="/sessions/create">
              <label for="email">Sign In: </label>
              <br>
              <input id="email" type="text" placeholder="your email here" name="email">
              <br>
              <br>
              <label for="password">Password: </label>
              <br>
              <input id="password" type="password" placeholder="your password here" name="password">
              <br>
              <br>
              <input type="submit">
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



