

<div class="container">
  <div class="row">
    <h1 class='center' > List of Teachers </h1>
    <h3 class='center'> <a href="/new_teacher"> <small> Add a New Teacher </small>  </a> </h3>

   
      <div class="row">
        <% @teachers.each do |teacher| %>
        <div class="col-md-6 col-md-offset-3">
          <div class="well well-xsm">
            <a href="/teachers/<%= teacher.id %>"> <%= teacher.name %> </a> <%= teacher.subject %>  
          </div>
        </div>
        <% end %>
      </div>
      </div>
  
  
